button{
    margin-left : 10px;
    border : none;
    font-weight : 700;
    color : grey;
}
button:hover{
    background-color: black;
    color: rgb(233, 227, 227);
    cursor: pointer;
    transform: translateY(-2px);
    transition: 0.02s;
}
span{
    color: grey;
    font-weight: 700;
}
.remItem{
    margin: 10px 0px;
}